@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

#app {
    height: 100%;
    overflow: auto;
}

.slider {
    background: url('/img/bg-slider.png');
    background-size: 100% 100%;
    
    
}

.logo-img {
    max-width: 88%;
}

.logo {
    
}

.menu {
    
}

.big-title {
    font-size: 64px;
    font-weight: bold;
}

.hablarle {
    background: url('/img/bg-slider.png');
}

.digiboard {
    color: #00639F;
}

.slider .pro{
    color: #0097B2;
}

p.pro {
    font-size: 24px;
}

.primary-button {
    background: #00639F;
}

.secondary-button {
    background: #0097B2;
}

.card-2 {
    min-width: 270px;
}

.card-2 span {
    font-size: 13px;
}

.card-2 .price {
    font-size: 40px;
}

.card-2 ul {
    list-style: disc;
    padding-left: 30px;
}

.card {
    /*max-width: 270px;*/
}

.card span {
    font-weight: bold;
    font-size: 24px;
    color: #00639F;
}

.card p {
    color: #828282;
}

.title-black {
    font-size: 24px;
}

.item {
    background: url('/img/bg-slider.png');
}

.item-1 {
    background-position: 30% 60%;
}

.item-2 {
    background-position: 100% 50%;
}

.item-3 {
    background-position: 10% 70%;
}

.item-4 {
    background-position: 10% 50%;
}

.item-5 {
    background-position: 100% 50%;
}

.item-6 {
    background-position: 0% 60%;
}


footer {
    background: url('/img/bg-footer.png');
    background-size: 100% 100%;
    min-height: 160px;
    color: #fff
}

footer span {
    font-size: 11px;
}

.marquee {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
}

.light {
    background-color: #0097B2;
}

.light .title {
    background-color: #0097B2;
}

.light .desc {
    color: #0097B2;
}

.planes .pro {
    background-color: #8952B6;
}

.planes .title {
    color: #fff;
    font-size: 24px;
}

.planes .desc {
    font-size: 16px;
}

.planes ul {
    font-size: .9rem;
}

.pro .title {
    background-color: #8952B6;
}

.pro .desc {
    color: #8952B6;
}

.business {
    background-color: #00639F;
}

.business .title {
    background-color: #00639F;
}

.business .desc {
    color: #00639F;
}

.card-body {
    background-color: #F3F3F3;
}


@media screen and (max-width: 500px) {
    .header {
        border-bottom: 4px solid #00639F;
    }
    
    .logo {
        padding: 5px;
        background: none;
    }

    .logo img{
        max-width: 80px;
    }

    .big-title {
        font-size: 48px;
    }    
}
